<div class="header">
    <div class="header__section">
        <div class="header__section-text">
            <a href="#" class="header__logo"><img class="header__logo-img" src="/assets/images/logo280-75.png" alt="Logo"></a>
            <ul class="header__menu">
                <li class="header__menu-around header__menu-home"><a href="#" class="header__menu-link header__menu-link-home">HOME</a></li>
                <li class="header__menu-around"><a href="#" class="header__menu-link">STYLE DEMO</a></li>
                <li class="header__menu-around"><a href="#" class="header__menu-link">FULL WIDTH</a></li>
                <li class="header__menu-around"><a href="#" class="header__menu-link">DROPDOWN</a></li>
                <li class="header__menu-around"><a href="#" class="header__menu-link">PORTFOLIO</a></li>
                <li class="header__menu-around"><a href="#" class="header__menu-link">GALLERY</a></li>
            </ul>
        </div>
    </div>
</div>