<div class="slider">
    <div class="slider__section">
        <div class="slider__section-text">
            <div class="owl-carousel">
                <div><img class="slider__img" src="/assets/images/920-350/920-x-350-goalie-front-and-back.jpg" alt="920-350"></div>
                <div><img class="slider__img" src="/assets/images/920-350/920-x-350-Banner-3-x-images.jpg" alt="920-350"></div>
                <div><img class="slider__img" src="/assets/images/920-350/920-x-350-Banner-Class-of-2012-Screen-printing.jpg" alt="920-350"></div>
                <div><img class="slider__img" src="/assets/images/920-350/920-x-350-Banner-Cloverdale-Colts-2.jpg" alt="920-350"></div>
                <div><img class="slider__img" src="/assets/images/920-350/920-x-350-Banner-FVD-DIVE-MEET.jpg" alt="920-350"></div>
                <div><img class="slider__img" src="/assets/images/920-350/920-x-350-Banner-NATURAL-LAWN-CARE.jpg" alt="920-350"></div>
            </div>
            <div class="slider__zidex-tittle">
                <p class="slider__zidex-tittle-text">
                    This Is A Very Long Slider Title
                </p>
            </div>
            <div class="slider__zidex-subtittle">
                <p class="slider__zidex-subtittle-text">
                    Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed. Facilispede estibulum nulla orna nisl velit.
                </p>
            </div>
        </div>
    </div>
</div>