.copyright {
  max-width: 1200px;
  height: 55px;
  background: #313131;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  &__section {
    width: 961px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #3a3a3a;
  }
  &__text {
    color: #999999;
    font-size: 12px;
  }
}
