.header {
  max-width: 1200px;
  width: 100%;
  height: 102px;
  background: #313131;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  &__section {
    width: 961px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 6px solid #a7c353;
  }
  &__section-text {
    width: 920px;
    height: 97px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #a7c353;
  }
  &__logo {
    width: 307px;
    height: 97px;
    display: flex;
    align-items: center;
  }
  &__logo-img {
    width: 141px;
    height: 24px;
  }
  &__logo-img:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    transition: 1s;
  }
  &__menu {
    width: 708px;
    display: flex;
    justify-content: space-between;
  }
  &__menu-around {
    height: 97px;
    display: flex;
    align-items: center;
  }
  &__menu-link {
    white-space: nowrap;
    padding: 0 20px;
    font-size: 13px;
    color: #979797;
    // display: flex;
    // flex-wrap: nowrap;
  }
  &__menu-around:hover {
    background: #a7c353;
    cursor: pointer;
  }
  &__menu-around:hover .header__menu-link {
    color: #ffffff;
  }
}
@media (max-width: 500px) {
  .header {
    overflow: hidden;
    overflow-x: hidden;
    max-width: 500px;
    height: 102px;
    background: #313131;
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    &__section {
      width: 300px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 6px solid #a7c353;
    }
    &__section-text {
      width: 300px;
      height: 99px;
      display: flex;
      flex-direction: column;

      align-items: center;
      border-bottom: 2px solid #a7c353;
    }
    &__logo {
      display: none;
    }
    &__menu {
      width: 300px;
      height: 99px;
      display: flex;
      flex-wrap: wrap;
    }
    &__menu-around {
      width: 100px;
      height: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
