.shout {
  max-width: 1200px;
  height: 135px;
  background: #313131;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;
  &__section {
    width: 961px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__section-text {
    width: 920px;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text {
    width: 650px;
    // width: 708px;
    height: 53px;
    color: #666666;
    font-size: 22px;
    text-align: center;
  }
}
